In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from numpy.linalg import inv
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from lls import LinearLeastSquare

In [2]:
data = pd.read_csv("Dollar_Rial_Price_Dataset.csv")
data.head()

   Unnamed: 0        Date Persian_Date    Open     Low    High   Close
0           0  11/27/2011   1390/09/06  13,700  13,700  13,700  13,700
1           1  11/28/2011   1390/09/07  13,440  13,440  13,440  13,440
2           2  11/29/2011   1390/09/08  13,350  13,350  13,350  13,350
3           3  11/30/2011   1390/09/09  13,400  13,400  13,400  13,400
4           4   12/1/2011   1390/09/10  13,500  13,500  13,500  13,500

In [31]:
data["Year"] = data["Persian_Date"].str.split("/").str[0].astype(int)

ahmadinejad_data = data[(data['Year'] >= 1384) & (data['Year'] <= 1392)]
rouhani_data = data[(data['Year'] >= 1392) & (data['Year'] <= 1400)]
raisi_data = data[data['Year'] >= 1400]

In [32]:
ahmadinejad_high = ahmadinejad_data['High'].max()
rouhani_high = rouhani_data['High'].max()
raisi_high = raisi_data['High'].max()

print(f"Highest Dollar Prices(Rial): Ahmadinejad: {ahmadinejad_high}, Rouhani: {rouhani_high}, Raisi: {raisi_high}")

Highest Dollar Prices(Rial): Ahmadinejad: 39,700, Rouhani: 99,950, Raisi: 555,600

In [33]:
ahmadinejad_low = ahmadinejad_data['Low'].min()
rouhani_low = rouhani_data['Low'].min()
raisi_low = raisi_data['Low'].min()

print(f"Lowest Dollar Prices(Rial): Ahmadinejad: {ahmadinejad_low}, Rouhani: {rouhani_low}, Raisi: {raisi_low}")

Lowest Dollar Prices(Rial): Ahmadinejad: 13,350, Rouhani: 100,370, Raisi: 206,210

In [34]:
X_ahmadinejad = ahmadinejad_data[['Open', 'Low', 'High']].replace(',', '', regex=True).astype(float)
y_ahmadinejad = ahmadinejad_data['Close'].replace(',', '', regex=True).astype(float)

X_rouhani = rouhani_data[['Open', 'Low', 'High']].replace(',', '', regex=True).astype(float)
y_rouhani = rouhani_data['Close'].replace(',', '', regex=True).astype(float)

X_raisi = raisi_data[['Open', 'Low', 'High']].replace(',', '', regex=True).astype(float)
y_raisi = raisi_data['Close'].replace(',', '', regex=True).astype(float)

Ahmadinejad's presidency

In [35]:
X_train_ahm, X_test_ahm, y_train_ahm, y_test_ahm = train_test_split(X_ahmadinejad, y_ahmadinejad, test_size=0.2, random_state=42)
lls_ahm = LinearLeastSquare()
lls_ahm.fit(X_train_ahm.values, y_train_ahm.values)
y_pred_ahm = lls_ahm.predict(X_test_ahm.values)
mae_ahmadinejad = mean_absolute_error(y_test_ahm, y_pred_ahm)
print(f"MAE for Ahmadinejad's presidency: {mae_ahmadinejad}")

MAE for Ahmadinejad's presidency: 48.49981370683401

Rouhani's presidency

In [36]:
X_train_rouh, X_test_rouh, y_train_rouh, y_test_rouh = train_test_split(X_rouhani, y_rouhani, test_size=0.2, random_state=42)
lls_rouh = LinearLeastSquare()
lls_rouh.fit(X_train_rouh.values, y_train_rouh.values)
y_pred_rouh = lls_rouh.predict(X_test_rouh.values)
mae_rouhani = mean_absolute_error(y_test_rouh, y_pred_rouh)
print(f"MAE for Rouhani's presidency: {mae_rouhani}")

MAE for Rouhani's presidency: 475.1518688837807

Raisi's presidency

In [37]:
X_train_rai, X_test_rai, y_train_rai, y_test_rai = train_test_split(X_raisi, y_raisi, test_size=0.2, random_state=42)
lls_rai = LinearLeastSquare()
lls_rai.fit(X_train_rai.values, y_train_rai.values)
y_pred_rai = lls_rai.predict(X_test_rai.values)
mae_raisi = mean_absolute_error(y_test_rai, y_pred_rai)
print(f"MAE for Raisi's presidency: {mae_raisi}")

MAE for Raisi's presidency: 1279.6019603392135